[archive]
build_output_dir = 'Built'
archive_location = '\\us-aus-hilbuild\builds\niveristandadd-ons\custom devices\ni-xnet-monitor'

[projects.cd]
path = 'Source\NI-XNET Monitor Custom Device.lvproj'

[[build.steps]]
name = 'Configuration Library'
type = 'lvBuildSpec'
project = '{cd}'
target = 'My Computer'
build_spec = 'Configuration Release'

[[build.steps]]
name = 'Engine Libraries'
type = 'lvBuildSpecAllTargets'
project = '{cd}'
build_spec = 'Engine Release'

[package]
type = 'nipkg'
name = 'ni-xnet-monitor-veristand-{veristand_version}'
dev_xml_path = 'Source\Custom Device NI-XNET Monitor.xml'
install_destination = 'documents\National Instruments\NI VeriStand {veristand_version}'

[[release.steps]]
name = 'Master Release'
type = 'githubRelease'
2017_release_branches = ["master",]
2018_release_branches = ["master",]
2019_release_branches = ["master",]